*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

// FONT
$default-font-size: 1.6rem;
html {
    // This defines what 1rem is
    font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%
    box-sizing: border-box;
}

body {
    box-sizing: inherit;
    font-size: $default-font-size;
    font-family: 'Roboto', sans-serif;
}

// inician las secciones
.general-wrapper {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: relative;
    overflow: hidden;
}

section.panel {
    width: 100vw;
    height: 100vh;
    max-width: 100%;
    position: absolute;
}

section.top-section {
    background-color: black;
    z-index: 100;
}

section.about-section {
    background-color: white;
    z-index: 110;
}

section.work-section {
    width: 3000px!important;
    background-color: #f1efef;
    max-width: 3000px!important;
    z-index: 120;
}

section.skills-section {
    background-color: white;
    z-index: 130;
}

section.contact-section {
    background-color: rgb(240, 29, 29);
    z-index: 140;
}